/* todo */


.container {

    justify-content: space-between;
    height: 80vh;
    top: 20vh;
    position: relative;
    /* background-color: beige; 
    opacity: 0.5;  */
}

.text {
    color: #FF8000;
    font-family: 'MPLUS1p-Regular', sans-serif;
    direction: rtl;
    font-size: 11vw;
    margin-top: 5vh;
    /* background-color: cadetblue;
    opacity: 0.5; */
}

.envelope {
    position: absolute;
    left: 18.5vw;
    height: 14vh;
    width: 63vw;
    top: 12vh;
    animation-name: envelope;
    animation-delay: -0.2s;
    animation-duration: 2s;
}

@keyframes envelope {
    from {left: 120vw;}
    to {left: 18.5vw;}
  }

.littleMonster {
    position: absolute;
    left: 20vw;
    bottom: 0;
    animation-name: littleMonster;
    animation-delay: -0.2s;
    animation-duration: 2s;
    /* background-color: cadetblue;
    opacity: 0.5; */
}

@keyframes littleMonster {
    from {bottom: -35vh;}
    to {bottom: 0vh;}
  }